!URxvt*termName: rxvt

! Solarized color scheme for the X Window System
!
! http://ethanschoonover.com/solarized


! Common

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900


! Dark

#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3


! Light

! #define S_base03        #fdf6e3
! #define S_base02        #eee8d5
! #define S_base01        #93a1a1
! #define S_base00        #839496
! #define S_base0         #657b83
! #define S_base1         #586e75
! #define S_base2         #073642
! #define S_base3         #002b36


! To only apply colors to your terminal, for example, prefix
! the color assignment statement with its name. Example:
!
! URxvt*background:            S_base03

*background:              S_base03
*foreground:              S_base0
*fading:                  40
*fadeColor:               S_base03
*cursorColor:             S_base1
*pointerColorBackground:  S_base01
*pointerColorForeground:  S_base1

*color0:                  S_base02
*color1:                  S_red
*color2:                  S_green
*color3:                  S_yellow
*color4:                  S_blue
*color5:                  S_magenta
*color6:                  S_cyan
*color7:                  S_base2
*color9:                  S_orange
*color8:                  S_base03
*color10:                 S_base01
*color11:                 S_base00
*color12:                 S_base0
*color13:                 S_violet
*color14:                 S_base1
*color15:                 S_base3

! DARKNESS terminal colors ------------------------------------------------------------
! Use it like: urxvt -name DARKNESS &
! tangoesque scheme
DARKNESS*background: #111111
DARKNESS*foreground: #babdb6
! Black (not tango) + DarkGrey
DARKNESS*color0:  #000000
DARKNESS*color8:  #555753
! DarkRed + Red
DARKNESS*color1:  #ff6565
DARKNESS*color9:  #ff8d8d
! DarkGreen + Green
DARKNESS*color2:  #93d44f
DARKNESS*color10: #c8e7a8
! DarkYellow + Yellow
DARKNESS*color3:  #eab93d
DARKNESS*color11: #ffc123
! DarkBlue + Blue
DARKNESS*color4:  #204a87
DARKNESS*color12: #3465a4
! DarkMangenta + Mangenta
DARKNESS*color5:  #ce5c00
DARKNESS*color13: #f57900
!DarkCyan + Cyan (both not tango)
DARKNESS*color6:  #89b6e2
DARKNESS*color14: #46a4ff
! LightGrey + White
DARKNESS*color7:  #cccccc
DARKNESS*color15: #ffffff

!!!! from:
!!     http://wiki.afterstep.org/index.php?title=Rxvt-Unicode_Configuration_Tutorial
!! transparency - true or false (default)
!URxvt*transparent: true

!! tint with any color; i.e., blue, red, tomato4, olivedrab2, etc.
!!   some nice listings are at:
!!     http://www.nisrv.com/drupal/?q=node/11
!!     http://www.htmlgoodies.com/tutorials/colors/article.php/3478921
!URxvt*tintColor: Blue

!! shading - 0 to 99 darkens, 101 to 200 lightens.
!!   Do not use with tintColor; just use a darker or lighter color instead.
!!URxvt*shading: 40

!! scrollback buffer lines - 65535 is max on most machines (64 is default)
URxvt*saveLines: 12000

!! Xft (X FreeType) with Bitstream, DejaVu, Liberation, or Terminus fonts:
!!  Fedora/debian packages: libXft/libxft2
!!  An anti-aliased font setup with Xft looks fantastic; it can be a bit choppy
!!  on older systems. You can always turn off anti-aliasing (antialias=false) if
!!  your terminal is sluggish. Use only ONE of the Xft pairs below:
!!
!! Xft: Bitstream fonts
!!  Fedora/debian packages: bitstream-vera-sans-mono-fonts/ttf-bitstream-vera
!!URxvt*font: xft:Bitstream Vera Sans Mono:pixelsize=12:antialias=true:hinting=true
!!URxvt*boldFont: xft:Bitstream Vera Sans Mono:bold:pixelsize=12:antialias=true:hinting=true
!!
!! Xft: DejaVu fonts
!!  Fedora/debian packages: dejavu-sans-mono-fonts/ttf-dejavu
!URxvt*font: xft:DejaVu Sans Mono:pixelsize=12:antialias=true:hinting=true
!URxvt*boldFont: xft:DejaVu Sans Mono:bold:pixelsize=12:antialias=true:hinting=true

URxvt*font:                          xft:DejaVu Sans Mono:pixelsize=12,xft:Code 2000:pixelsize=10
URxvt*boldFont:                                                                                               xft:DejaVu Sans Mono:pixelsize=12,xft:Code 2000:pixelsize=10

!No bold
URxvt.keysym.M-C-1: command:\033]710;xft:DejaVu Sans Mono:pixelsize=12,xft:Code 2000:pixelsize=10\007\033]711;xft:DejaVu Sans Mono:pixelsize=12,xft:Code 2000:pixelsize=10\007
URxvt.keysym.M-C-2: command:\033]710;xft:DejaVu Sans Mono:pixelsize=13,xft:Code 2000:pixelsize=11\007\033]711;xft:DejaVu Sans Mono:pixelsize=13,xft:Code 2000:pixelsize=11\007
URxvt.keysym.M-C-3: command:\033]710;xft:DejaVu Sans Mono:pixelsize=14,xft:Code 2000:pixelsize=12\007\033]711;xft:DejaVu Sans Mono:pixelsize=14,xft:Code 2000:pixelsize=12\007
URxvt.keysym.M-C-4: command:\033]710;xft:DejaVu Sans Mono:pixelsize=15,xft:Code 2000:pixelsize=13\007\033]711;xft:DejaVu Sans Mono:pixelsize=15,xft:Code 2000:pixelsize=13\007
URxvt.keysym.M-C-5: command:\033]710;xft:DejaVu Sans Mono:pixelsize=16,xft:Code 2000:pixelsize=14\007\033]711;xft:DejaVu Sans Mono:pixelsize=16,xft:Code 2000:pixelsize=14\007

!Use bold
URxvt.keysym.M-C-7: command:\033]710;xft:DejaVu Sans Mono:pixelsize=12,xft:Code 2000:pixelsize=10\007\033]711;xft:DejaVu Sans Mono:bold:pixelsize=12,xft:Code 2000:pixelsize=10\007

URxvt.keysym.M-C-8: command:\033]710;xft:DejaVu Sans Mono:pixelsize=14,xft:Code 2000:pixelsize=12\007\033]711;xft:DejaVu Sans Mono:bold:pixelsize=14,xft:Code 2000:pixelsize=12\007

URxvt.keysym.M-C-9: command:\033]710;xft:DejaVu Sans Mono:pixelsize=16,xft:Code 2000:pixelsize=14\007\033]711;xft:DejaVu Sans Mono:bold:pixelsize=16,xft:Code 2000:pixelsize=14\007

!test
URxvt.keysym.M-C-0: command:\033]710;xft:DejaVu Sans Mono:pixelsize=12,xft:Code 2000:pixelsize=10:antialias=true:hinting=true\007\033]711;xft:DejaVu Sans Mono:pixelsize=12,xft:Code 2000:pixelsize=10:antialias=true:hinting=true\007

! https://wiki.archlinux.org/index.php/Home_and_End_keys_not_working
URxvt.keysym.Home: \033[7~
URxvt.keysym.End: \033[8~
URxvt.keysym.KP_Home: \033[7~
URxvt.keysym.KP_End:  \033[8~

!urxvt*boldColors: on

!URxvt*boldFont: xft:DejaVu Sans Mono::pixelsize=12:antialias=true:hinting=true
!!
!! Xft: Liberation fonts
!!  Fedora/debian packages: liberation-mono-fonts/ttf-liberation
!!URxvt*font: xft:Liberation Mono:pixelsize=13:antialias=true:hinting=true
!!URxvt*boldFont: xft:Liberation Mono:bold:pixelsize=13:antialias=true:hinting=true
!!
!! Xft: Terminus fonts
!!  Fedora/debian packages: terminus-fonts/xfonts-terminus
!!URxvt*font: xft:terminus:pixelsize=15
!!URxvt*boldFont: xft:terminus:bold:pixelsize=15

!! Traditional fonts - a more traditional font setup in lieu of xft
!!URxvt*font:-*-courier-medium-r-normal-*-14-*-*-*-*-*-iso8859-1
!!URxvt*boldFont:-*-courier-bold-r-normal-*-14-*-*-*-*-*-iso8859-1

!! Replace blue folder colors with a lighter shade for clarity. To
!!  set colored folders and files within urxvt, xterm, and aterm, add
!!  the following line to your ~/.bashrc ($HOME/.bashrc) file under
!!  the heading "# User specific aliases and functions":
!!   alias ls="ls -h --color=auto"
!URxvt*color4: RoyalBlue
!URxvt*color12: RoyalBlue

!! scrollbar - true (default) or false
URxvt*scrollBar: false

!! scrollbar position - left=false (default) or right=true
URxvt*scrollBar_right: false

!! scrollbar style - rxvt (default), plain, next, or xterm
!URxvt*scrollstyle: rxvt

URxvt.perl-ext-common: default,matcher,url-picker,option-popup,confirm-paste,keyboard-select,clipboard
!Options: URxvt.clipboard.autocopy: if set to true, the clipboard is
!automatically updated whenever the PRIMARY selection changes
!URxvt.clipboard.autocopy: true
URxvt.keysym.M-c:   perl:clipboard:copy
URxvt.keysym.M-v:   perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
!URxvt.clipboard.copycmd:  xclip -i -selection clipboard
!URxvt.clipboard.pastecmd: xclip -o -selection clipboard
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.C-0xff0d:    perl:url-picker
URxvt.matcher.button:   1
URxvt.urlLauncher:      chromium
URxvt.url-picker.order: descending
!URxvt.url-picker.label.backgroundColor: S_yellow
!URxvt.url-picker.label.foregroundColor:	S_base03

URxvt*cutchars: "`\"()'*<>[]{|}"
